$background-color: rgba(86, 41, 207, 0.8);
$heading-color: #c75ae0;
$decoration-color: #2d5cdd;
$lightGrey: rgb(233, 230, 230);
$cardColor: rgb(223, 219, 219);
$identifyCard: rgb(201, 195, 195);
$content-color: rgb(102, 101, 101);
$darkGrey: rgb(56, 55, 55);